* {
  box-sizing: border-box;
}

.container {
  position: relative;
}

.top {
  display: flex;
  justify-content: space-evenly;
}

.app {
  display: flex;
  justify-content: space-evenly;
  width: 600px;
}

.slcontain {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

.bellcontain {
  display: flex;
  justify-content: space-evenly;
  width: 50px;
}

.border {
  padding: 1px;
  background-color: black;
}

.content {
  display: flex;
  margin-top: 20px; /* Adjust space between top and content */
}

.left {
  width: 200px; /* Adjust width as needed */
  margin-right: 20px; /* Adjust space between left and inner */
}

.inner {
  flex-grow: 1;
  
}
