*{
  box-sizing: border-box;
}
body{
  font-family: 'roboto', sans-serif;
  margin: 0;
  height: 0;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.middle{
  margin: 0;
}
.contain{
  text-align: center;
}
.passion{
  color: green;
}
.logistics{
  color: green;
}
.firstfooter{
  background-color: rgba(58, 57, 57);
  width: 100%;
  height: 35px;
}
.secondfooter{
  background-color: rgb(58, 57, 57);
  width: 100%;
  height: 35px;
}
h3{
  display: inline-block;
  font-size: 20px;
  background-color: rgb(235, 183, 26);
  margin-top: 40px;
  margin-bottom: 50px;
}
@media (max-width:600px) and (orientation: portrait){
  .contain{
    width: 100%;
  }
}
  
@media (min-width:601px) and (max-width:991px) and (orientation: portrait){
  .contain{
    width:100%
  }
}
  
@media (min-width:992px) and (max-width:1199px) and (orientation: portrait){
  .contain{
    width:100%
  }
}
  
@media (max-width:600px) and (orientation: portrait),
(min-width:601px) and (max-width:991px) and (orientation: portrait),
(min-width:992px) and (max-width:1199px) and (orientation: portrait),
(min-width:1200px) and (orientation: portrait),
(max-width: 600px) and (orientation: landscape),
(min-width: 601px) and (max-width: 991px) and (orientation: landscape),
(min-width: 992px) and (max-width: 1199px) and (orientation: landscape),
(min-width: 1200px) and (orientation: landscape) {
  .contain {
    width: 100%;
  }
}

