*  {
  box-sizing:border-box;
}
body{
  background-color: grey;
}
body p, h1{
  font-family: roboto, sans-serif;
}
.heading{
  background-color: red;
  width: 280px;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  top: 360px;
  height: 70px;
  vertical-align: middle;
}
.paragraph{
  background-color: white;
  width: 325px;
  text-align: center;
  padding: 30px 30px;
  border-radius: 10px;
}
.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media (max-width:600px) and (orientation: portrait),
(min-width:601px) and (max-width:991px) and (orientation: portrait),
(min-width:992px) and (max-width:1199px) and (orientation: portrait),
(min-width:1200px) and (orientation: portrait),
(max-width: 600px) and (orientation: landscape),
(min-width: 601px) and (max-width: 991px) and (orientation: landscape),
(min-width: 992px) and (max-width: 1199px) and (orientation: landscape),
(min-width: 1200px) and (orientation: landscape) {
  .contain {
    width: 100%;
  }
}
