*/{
  box-sizing: border-box;
}
body{
  font-family: "roboto", sans-serif;
}
.container{
  width: 100%;
  height: 100vh;
}
.top{
  display: flex;
  justify-content: end;
}
.image{
  width: 600px;
}
.left{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-left: 200px;
  margin-top: -100px;
}
.right{
  margin-top: -150px;
  width: 800px;
}
li{
  list-style-type: none;
  margin-left: -59px;
  padding: 20px;
  padding-right: 150px;
}
.last{
  margin-right: -400px;
}
.gender{
  padding-right: -800px;
}
.table1{
  display: flex;
}
.table2{
  display: flex;
}
.table3{
  display: flex;
}
.table4{
  display: flex;
}
.table5{
  display: flex;
}
.table6{
  display: flex;
}



@media (max-width:600px) and (orientation: portrait),
(min-width:601px) and (max-width:991px) and (orientation: portrait),
(min-width:992px) and (max-width:1199px) and (orientation: portrait),
(min-width:1200px) and (orientation: portrait),
(max-width: 600px) and (orientation: landscape),
(min-width: 601px) and (max-width: 991px) and (orientation: landscape),
(min-width: 992px) and (max-width: 1199px) and (orientation: landscape),
(min-width: 1200px) and (orientation: landscape) {
  .contain {
    width: 100%;
  }
}